body {
    font-family: 'Arial', sans-serif;
    background: #e0e5ec; /* мягкий фон */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    min-height: 100vh;
}

.dashboard {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}



input[type="file"] {
    display: block;
    width: 94%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.05);
    cursor: pointer;
}

input[type="file"]:hover {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #2575fc, #2575fc);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

button:hover {
    background: linear-gradient(135deg, #2575fc, #2575fc);
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}